@import "../../../assets/sass/variables.scss";

.notification {
	/* 2 Block model */
	display: flex;
	align-items: center;
	justify-content: center;

	/* 2 Block model */
	width: 19px;
	height: 19px;

	/* 3 Typography */
	color: $color-white;

	/* 4 Visual */
	border-radius: 50%;
	background-color: $color-bg-2;
}
.notification--red {
	/* 4 Visual */
	background-color: $color-red;
}
.notification > p {
	/* 3 Typography */
	color: $color-white;
}
