@import "../../../assets/sass/variables.scss";
.chat-message {
	/* 2 Block model */
	display: flex;
	align-items: flex-start;
}
.chat-message__img {
	/* 2 Block model */
	margin-right: 10px;
}
.chat-message__text {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
}
.chat-message__text .message {
	/* 2 Block model */
	margin-bottom: 4px;
}
.chat-message__date {
	/* 2 Block model */
	display: inline-block;

	/* 3 Typography */
	text-transform: uppercase;
}
