@import "../../../assets/sass/variables.scss";
.chat-user {
	/* 2 Block model */
	display: flex;
	align-items: flex-start;
}
.chat-user__img {
	/* 2 Block model */
	margin-right: 10px;
}
.chat-user__info {
	/* 2 Block model */
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-grow: 2;
}
.chat-user__title {
	/* 3 Typography */
	text-decoration: none;
}
.chat-user__title .text {
	/* 3 Typography */
	font-weight: bold;
	color: $color-black;

	/* 5 Animation */
	transition: all $animation-speed;
}
.chat-user__title:hover .text {
	/* 3 Typography */
	color: $color-link;
}
.chat-user__title:focus .text {
	/* 3 Typography */
	color: $color-link;
}
.chat-user__title:active .text {
	/* 3 Typography */
	color: $color-link;
}
.chat-user__text {
	/* 2 Block model */
	padding-right: 5px;
}
.chat-user__right {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.chat-user__date {
	/* 2 Block model */
	margin-bottom: 2px;

	/* 3 Typography */
	white-space: nowrap;
}
