@import "../../../assets/sass/variables.scss";
.item-menu {
	/* 2 Block model */
	display: flex;
	align-items: center;

	/* 3 Typography */
	text-decoration: none;

	/* 4 Visual */
	cursor: pointer;
}
.item-menu__icon {
	/* 2 Block model */
	display: flex;
	margin-right: 8px;
}
.item-menu__icon .icon {
	/* 5 Animation */
	transition: all $animation-speed;
}
.item-menu__text {
	/* 3 Typography */
	color: $color-textgray;

	/* 5 Animation */
	transition: all $animation-speed;
}
.item-menu--pd {
	/* 2 Block model */
	padding-top: 8px;
	padding-bottom: 8px;
}
.item-menu:hover .item-menu__text {
	/* 3 Typography */
	color: $color-link;
}
.item-menu:focus .item-menu__text {
	/* 3 Typography */
	color: $color-link;
}
.item-menu:active .item-menu__text {
	/* 3 Typography */
	color: $color-link;
}
.item-menu:hover .icon {
	/* 4 Visual */
	fill: $color-link;
}
.item-menu:focus .icon {
	/* 4 Visual */
	fill: $color-link;
}
.item-menu:active .icon {
	/* 4 Visual */
	fill: $color-link;
}
