@import "../../../assets/sass/variables.scss";
.table-recent-activities {
	/* 2 Block model */
	box-sizing: border-box;
	min-width: 646px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 24px;
	padding-bottom: 24px;

	/* 4 Visual */
	border: 1px solid $color-border;

	@media (min-width: 768px) {
		/* 2 Block model */
		padding-left: 15px;
		padding-right: 15px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-left: 24px;
		padding-right: 24px;
	}
}
.table-recent-activities__header {
	/* 2 Block model */
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4px;
}
.table-recent-activities__title {
	/* 3 Typography */
	text-transform: uppercase;
}

.table-recent-activities .table th:first-child,
.table-recent-activities .table td:first-child {
	/* 2 Block model */
	padding-left: 0;

	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-left: 13px;
	}
}
