@import "../../../assets/sass/variables.scss";
.input-border-radius {
	/* 2 Block model */
	padding: 12px 17px 10px 16px;

	/* 4 Visual */
	cursor: pointer;
	border: 1px solid $color-border;
	border-radius: 20px;

	/* 5 Animation */
	transition: all $animation-speed;
}

.input-border-radius .input input {
	/* 3 Typography */
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.input-border-radius:hover {
	/* 4 Visual */
	border: 1px solid $color-border-focus;
}
.input-border-radius:focus {
	/* 4 Visual */
	border: 1px solid $color-border-focus;
}
.input-border-radius:active {
	/* 4 Visual */
	border: 1px solid $color-border-focus;
}
