@import "../../../assets/sass/variables.scss";

.h4 {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	color: $color-black;
}
