@import "../../../assets/sass/variables.scss";
@import "../../../assets/sass/grid/bootstrap-grid.scss";
.setting-personal__upgrade {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 24px;

	/* 4 Visual */
	border-radius: 3px;
	background-color: $color-bg-5;

	@media (min-width: 768px) {
		/* 2 Block model */
		flex-direction: row;
		align-items: center;
	}
}
.setting-personal__upgrade__text {
	/* 2 Block model */
	margin-bottom: 16px;

	@media (min-width: 768px) {
		/* 2 Block model */
		padding-right: 53px;
		margin-bottom: 0;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-right: 10px;
	}
}
.setting-personal__upgrade-action {
	/* 2 Block model */
	display: flex;
	align-items: center;
}
.setting-personal__upgrade-link {
	/* 2 Block model */
	margin-right: 30px;

	/* 3 Typography */
	white-space: nowrap;
}
.setting-personal__title {
	/* 2 Block model */
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;

	/* 4 Visual */
	border-radius: 3px;
	background-color: $color-border;
}
.setting-personal__list {
	/* 2 Block model */
	padding: 0;
	margin: 0;
	margin-bottom: 48px;

	list-style: none;
}
.setting-personal__list:last-child {
	/* 2 Block model */
	margin-bottom: 0;
}
.setting-personal__mrb-blue {
	/* 2 Block model */
	margin-bottom: 16px;
}
.setting-personal__mrb-violet {
	/* 2 Block model */
	margin-bottom: 8px;
}
