@import "../../../assets/sass/variables.scss";
@import "../../../assets/sass/grid/bootstrap-grid.scss";
.referral__donload {
	/* 2 Block model */
	display: flex;
	flex-direction: row;
	align-items: center;
}
.referral__donload .text {
	/* 2 Block model */
	margin-right: 15px;

	/* 3 Typography */
	word-break: break-word;
}
.referral__head-list {
	/* 2 Block model */
	display: none;

	@media (min-width: 768px) {
		/* 2 Block model */
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-left: 24px;
		padding-right: 24px;
		margin-bottom: 24px;
	}
}
.referral__head-item:first-child {
	/* 2 Block model */
	width: 203px;
	flex: 0 0 203px;

	@media (min-width: 1400px) {
		/* 2 Block model */
		width: 347px;
		flex: 0 0 347px;
	}
}
.referral__head-item:nth-child(2) {
	/* 2 Block model */
	display: flex;
	flex-grow: 2;
}
.referral__head-item:nth-child(2) .h3:first-child {
	/* 2 Block model */
	width: 204px;

	@media (min-width: 1400px) {
		/* 2 Block model */
		width: 341px;
	}
}
.referral__list {
	/* 2 Block model */
	padding: 0;
	margin: 0;

	/* 4 Visual */
	list-style: none;
}
.referral__item {
	/* 2 Block model */
	margin-bottom: 16px;
}
.referral__item:last-child {
	/* 2 Block model */
	margin-bottom: 0;
}
.referral--mb-mob-viol {
	/* 2 Block model */
	margin-bottom: 4px;

	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
}
.referral--green {
	/* 2 Block model */
	margin-bottom: 24px;
}
.referral--blue {
	/* 2 Block model */
	margin-bottom: 16px;
}
