@import "../../../assets/sass/variables.scss";
@import "../../../assets/sass/grid/bootstrap-grid.scss";
.settings__mrb-blue {
	/* 2 Block model */
	margin-bottom: 16px;
}
.settings__mrb-violet {
	/* 2 Block model */
	margin-bottom: 8px;
}
.settings__lead .text {
	/* 3 Typography */
	font-weight: 600;
}
