div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	/* 2 Block model */
	margin: 0;
	padding: 0;
	border: 0;

	/* 3 Typography */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	/* 2 Block model */
	display: block;
}
/* section {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
  color: #000000;
} */
a {
	text-decoration: none;
	color: currentColor;
}

.tip {
	display: inline-block;
	border-radius: 1em;
	font-size: 11px;
	line-height: 12px;
	font-weight: 700;
	background: #e7fdd8;
	color: #66bf3c;
	padding: 4px 12px;
	margin-right: 10px;
	vertical-align: top;
}

.tip-wrapper {
	font-size: 13px;
	line-height: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.tip-wrapper svg {
	display: inline-block;
	height: 12px;
	width: 12px;
	margin-right: 4px;
	vertical-align: top;
	margin-top: 3px;
}

.tip-wrapper svg path {
	fill: #1ea7fd;
}
