@import "../../../assets/sass/variables.scss";
@import "../../../assets/sass/grid/bootstrap-grid.scss";

.chat {
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 24px;
		padding-bottom: 24px;
		/* 4 Visual */
		border: 1px solid $color-border;
	}
}
.chat__left {
	/* 1 Positioning */
	position: relative;

	@media (min-width: 992px) {
		/* 2 Block model */
		padding-left: 24px;
		padding-right: 8px;
	}
}
.chat__left::before {
	/* 1 Positioning */
	position: absolute;
	right: -17px;
	top: -13px;
	bottom: -7px;

	/* 2 Block model */
	display: none;
	width: 1px;
	height: calc(100% + 8px);

	/* 4 Visual */
	content: "";
	background-color: $color-border;

	@media (min-width: 992px) {
		/* 2 Block model */
		display: block;
	}
}
.chat__profile {
	/* 2 Block model */
	padding-bottom: 16px;

	/* 4 Visual */
	border-bottom: 1px solid $color-border;
}
.chat__user-list {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	overflow-y: auto;
	max-height: calc(100vh - 211px);
	padding: 0;
	padding-right: 16px;
	padding-top: 16px;
	margin: 0;

	/* 4 Visual */
	list-style: none;

	@media (min-width: 992px) {
		/* 2 Block model */
		max-height: calc(100vh - 261px);
	}
}
.chat__user-item {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	padding-top: 8px;
	padding-bottom: 8px;
}
.chat__user-item::before {
	/* 1 Positioning */
	position: absolute;
	left: 48px;
	right: 0;
	bottom: 1px;

	/* 2 Block model */
	display: block;
	height: 1px;

	/* 4 Visual */
	content: "";
	background-color: $color-border;
}
.chat__body {
	/* 2 Block model */
	padding-left: 11px;
	padding-right: 24px;
}
.chat__current-user {
	/* 2 Block model */
	padding-bottom: 15px;

	/* 4 Visual */
	border-bottom: 1px solid $color-border;
}
.chat__msg-list {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	overflow-y: auto;
	max-height: calc(100vh - 317px);
	padding: 0;
	padding-right: 16px;
	padding-top: 16px;
	margin: 0;
	margin-bottom: 16px;

	/* 4 Visual */
	list-style: none;
}
.chat__msg-item {
	/* 2 Block model */
	padding-top: 8px;
	padding-bottom: 8px;
}
.chat__mobile {
	/* 2 Block model */
	display: none;

	@media (min-width: 992px) {
		/* 2 Block model */
		display: block;
	}
}
.chat__user-list,
.chat__msg-list {
	/* 4 Visual */
	scrollbar-width: 3px;
	scrollbar-color: #f5f5fa#9491fb;
}
.chat__user-list::-webkit-scrollbar,
.chat__msg-list::-webkit-scrollbar {
	/* 2 Block model */
	width: 3px;
	height: 40%;
}
.chat__user-list::-webkit-scrollbar-track,
.chat__msg-list::-webkit-scrollbar-track {
	/* 4 Visual */
	background: #9491fb;
}
.chat__user-list::-webkit-scrollbar-thumb,
.chat__msg-list::-webkit-scrollbar-thumb {
	/* 4 Visual */
	background: #f5f5fa;
	border: 3px solid #f5f5fa;
}
