@import "../../../assets/sass/variables.scss";
.tab-bar .react-tabs__tab-list {
	/* 2 Block model */
	display: flex;
	column-gap: 32px;
	row-gap: 16px;
	padding-bottom: 16px;
	margin-bottom: 32px;

	@media (min-width: 449px) {
		/* 4 Visual */
		border-bottom: 1px solid $color-border;
	}
}
.tab-bar .react-tabs__tab {
	/* 1 Positioning */
	position: relative;
	bottom: 0;

	/* 2 Block model */
	padding: 0;

	/* 4 Visual */
	border: none;
}
.tab-bar .react-tabs__tab--selected {
	/* 4 Visual */
	border: none;
}
.tab-bar__item-tab {
	/* 1 Positioning */
	position: relative;
}
.tab-bar .react-tabs__tab--selected .tab-bar__item-tab::before {
	/* 1 Positioning */
	position: absolute;
	bottom: -16px;
	left: 0;
	right: 0;

	/* 2 Block model */
	display: block;
	height: 2px;

	/* 4 Visual */
	content: "";
	background-color: $color-bg-2;
}
.tab-bar__item-tab {
	/* 2 Block model */
	display: inline-flex;
	align-items: center;
	column-gap: 9px;
}
.tab-bar__item-tab .text {
	/* 5 Animation */
	transition: all $animation-speed ease;
}
.tab-bar__item-tab:hover > .text {
	/* 3 Typography */
	color: $color-link;
}
// .tab-bar__item.active .tab-bar__link:hover {
// 	/* 3 Typography */
// 	color: $color-text-darkgray;
// }
.tab-bar__link {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	display: flex;
	align-items: center;

	/* 3 Typography */
	text-decoration: none;

	/* 4 Visual */
	outline: none;
}
.tab-bar__text {
	/* 5 Animation */
	transition: all $animation-speed;
}
.tab-bar__link:hover,
.tab-bar__link:focus,
.tab-bar__link:active {
	/* 3 Typography */
	text-decoration: none;
}
.tab-bar__link:hover .tab-bar__text {
	/* 3 Typography */
	color: $color-link;
}
.tab-bar__link:focus .tab-bar__text {
	/* 3 Typography */
	color: $color-link;
}
.tab-bar__link:active .tab-bar__text {
	/* 3 Typography */
	color: $color-link;
}
.tab-bar__item .notification {
	/* 2 Block model */
	margin-left: 9px;
}
.tab-bar--setting {
	/* 2 Block model */
	flex-wrap: wrap;
}
.tab-bar--setting .tab-bar__item {
	/* 2 Block model */
	padding-right: 40px;
}
.tab-bar--setting .tab-bar__item:nth-child(3) {
	/* 2 Block model */
	padding-right: 0;

	@media (min-width: 409px) {
		/* 2 Block model */
		padding-right: 40px;
	}
}
.tab-bar--setting .tab-bar__item:last-child {
	/* 2 Block model */
	padding-top: 16px;
	padding-right: 0;
	padding-bottom: 0;

	@media (min-width: 449px) {
		/* 2 Block model */
		padding: 0;
	}
}
