@import "../../../assets/sass/variables.scss";

// .slider__dots-horizontal {
// 	/* 1 Positioning */
// 	bottom: 0;
// 	left: 50%;

// 	/* 2 Block model */
// 	display: flex;
// 	justify-content: center;
// 	gap: 10px;
// 	padding: 0;
// 	margin: 0;

// 	/* 3 Typography */
// 	text-align: center;

// 	/* 4 Visual */
// 	list-style: none;
// 	transform: translateX(-50%);
// }
// .slider__dot {
// 	/* 2 Block model */
// 	display: block;
// 	width: 8px;
// 	height: 8px;

// 	/* 3 Typography */
// 	font-size: 0;
// 	line-height: 0;
// 	color: transparent;

// 	/* 4 Visual */
// 	cursor: pointer;
// 	background-color: $color-slider-item-dots;
// 	border: 0;
// 	border-radius: 50%;
// 	outline: none;
// }
// .slider__dot-active {
// 	/* 4 Visual */
// 	background-color: $color-slider-item-dots-active;
// }
.slider-item__body {
	/* 3 Typography */
	text-align: center;
}
.slider-item__img {
	/* 2 Block model */
	margin-bottom: 48px;
}
.slider-item__img img {
	/* 2 Block model */
	display: block;
	width: 100%;
}
.slider-item__title {
	/* 2 Block model */
	margin-bottom: 16px;

	/* 3 Typography */
	text-align: center;
}
.slider-item__text {
	/* 2 Block model */
	width: 100%;
	max-width: 346px;
	margin: 0 auto;
	margin-bottom: 32px;

	/* 3 Typography */
	text-align: center;
}
