@import "../../../assets/sass/variables.scss";
.header-profile {
	/* 2 Block model */
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.header-profile__link {
	/* 2 Block model */
	margin-right: 8px;
}

// .header-profile__link:hover {
// 	/* 3 Typography */
// 	color: $color-link;
// }
// .header-profile__link:active {
// 	/* 3 Typography */
// 	color: $color-link;
// }
// .header-profile__link:focus {
// 	/* 3 Typography */
// 	color: $color-link;
// }
