@import "../../../assets/sass/variables.scss";
.table {
	/* 2 Block model */
	width: 100%;
	margin: 0 auto;
	padding: 0;

	/* 4 Visual */
	border-collapse: collapse;
	border: none;
	border-spacing: 0;
}

.table__head tr {
	/* 4 Visual */
	border-bottom: 1px solid $color-border;
}
.table__head th {
	/* 2 Block model */
	padding-top: 4px;
	padding-right: 15px;
	padding-bottom: 12px;

	/* 3 Typography */
	text-align: left;
}
.table__head th:first-child {
	/* 2 Block model */
	padding-left: 13px;
}

.table__head--recent-activities tr th:nth-child(1) {
	/* 2 Block model */
	width: 7.1429%;
}
.table__head--recent-activities tr th:nth-child(2) {
	/* 2 Block model */
	width: 21.332%;
}
.table__head--recent-activities tr th:nth-child(3) {
	/* 2 Block model */
	width: 17.0849%;
}
.table__head--recent-activities tr th:nth-child(5) {
	/* 2 Block model */
	width: 18.4362%;
}
.table__head--recent-activities tr th:nth-child(6) {
	/* 2 Block model */
	width: 12.2586%;
}
.table__item {
	/* 4 Visual */
	border-bottom: 1px solid $color-border;
}
.table__item:last-child {
	/* 4 Visual */
	border: none;
}
.table__item td {
	/* 2 Block model */
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;

	/* 3 Typography */
	text-align: left;
	text-transform: uppercase;
}
.table__item td:first-child {
	/* 2 Block model */
	padding-left: 13px;
}
