@import "../../../assets/sass/variables.scss";
@import "../../../assets/sass/grid/bootstrap-grid.scss";
.registr-entry__row {
	/* 2 Block model */
	display: flex;
	min-height: 100vh;
}
.registr-entry__left {
	/* 2 Block model */
	display: flex;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;

	/* 4 Visual */
	background-color: $color-white;

	@media (min-width: 768px) {
		/* 2 Block model */
		padding-left: 0;
		padding-right: 0;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 43%;
	}
}
.registr-entry__right {
	/* 2 Block model */
	display: none;

	/* 4 Visual */
	background-color: $color-bg-1;
	@media (min-width: 992px) {
		/* 2 Block model */
		display: flex;
		align-items: center;
		width: 57%;
	}
}
.registr-entry__body {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 380px;
	margin: 0 auto;
}
.registr-entry__top {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 2;
}
.registr-entry__content {
	/* 2 Block model */
	padding-top: 48px;
	padding-bottom: 32px;
}
.registr-entry__content .logo {
	/* 2 Block model */
	margin-bottom: 32px;
}
.registr-entry__form {
	/* 2 Block model */
	margin-bottom: 24px;
}
.registr-entry__social {
	/* 3 Typography */
	text-align: center;
}
.registr-entry__or {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 67px;
	height: 18px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 0 auto;
	margin-bottom: 16px;

	/* 3 Typography */
	color: $color-black;
}
.registr-entry__or::before,
.registr-entry__or::after {
	/* 1 Positioning */
	position: absolute;
	top: 9px;

	/* 2 Block model */
	display: block;
	width: 14px;
	height: 1px;

	/* 4 Visual */
	content: "";
	background-color: $color-bg-1;
}
.registr-entry__or::before {
	/* 1 Positioning */
	left: 3px;
}
.registr-entry__or::after {
	/* 2 Block model */
	right: 3px;
}
.registr-entry__fb {
	/* 2 Block model */
	margin-right: 20px;
}
.registr-entry__bottom {
	/* 2 Block model */
	padding-top: 32px;
	padding-bottom: 48px;
}
.registr-entry__links {
	/* 2 Block model */
	margin-bottom: 16px;
}
.registr-entry__links-item {
	/* 2 Block model */
	display: inline-flex;
	margin-right: 32px;
}
.registr-entry__links-item:last-child {
	/* 2 Block model */
	margin-right: 0;
}
.registr-entry__slider {
	/* 2 Block model */
	width: 100%;
	max-width: 460px;
	padding-top: 32px;
	padding-bottom: 48px;
	margin: 0 auto;
}
.registr-entry__mb-yellow {
	/* 2 Block model */
	margin-bottom: 32px;
}
