@import "../../../assets/sass/variables.scss";
@import "../../../assets/sass/grid/bootstrap-grid.scss";

.order-book__mr-violet {
	/* 2 Block model */
	margin-bottom: 8px;
}
.order-book__btns {
	/* 2 Block model */
	display: flex;
	align-items: center;
	column-gap: 17px;
}
.order-book__more {
	/* 3 Typography */
	text-align: center;
}
