@import "../../../assets/sass/variables.scss";

.summary-item {
	/* 2 Block model */
	box-sizing: border-box;
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 12px;

	/* 4 Visual */
	background-color: $color-bg-1;
}
.summary-item__body {
	/* 2 Block model */
	display: flex;
	flex-direction: column;

	@media (min-width: 768px) {
		/* 2 Block model */
		flex-direction: row;
	}
}
.summary-item__title {
	/* 2 Block model */
	margin-bottom: 8px;

	@media (min-width: 768px) {
		/* 2 Block model */
		width: 98px;
		flex: 0 0 98px;
		margin-bottom: 0;
	}
}
.summary-item__text {
	/* 3 Typography */
	word-break: break-all;
}
.summary-item--white {
	/* 4 Visual */
	border: none;
	background-color: $color-white;
}
.summary-item--icon {
	/* 2 Block model */
	align-items: center;
	justify-content: space-between;
	padding-left: 17px;
	padding-right: 17px;
}
.summary-item--icon .summary-item__body {
	/* 2 Block model */
	flex-direction: row;
	flex-grow: 2;
}
.summary-item--icon .summary-item__title {
	/* 2 Block model */
	flex-direction: row;
	width: calc(60% - 20px);
	flex: 0 0 calc(60% - 20px);
	margin-bottom: 0;

	@media (min-width: 768px) {
		/* 2 Block model */
		width: calc(50% - 20px);
		flex: 0 0 calc(50% - 20px);
	}
	@media (min-width: 1400px) {
		/* 2 Block model */
		width: 140px;
		flex: 0 0 140px;
	}
}
.summary-item--icon .summary-item__text {
	/* 3 Typography */
	color: $color-green;
}
