@import "../../../assets/sass/variables.scss";
.search {
	/* 2 Block model */
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding-right: 10px;
}
.search label {
	/* 2 Block model */
	padding: 0;
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	color: $color-textgray;
}
.search .icon {
	/* 2 Block model */
	margin-right: 8px;
}
